*{margin: 0; padding: 0;}

.abigbox{
    width: 1000px;
    border: 5px solid tan;
    margin: 30px auto;
    height: 250px;
    padding: 30px;
}
.abigbox h2{
    padding: 15px 0;
    text-align: center;
}
.abox{
    width: 200px;
    height: 150px;
    border: 1px solid #333;
    float: left;
    margin-left: 40px;
    position: relative;
}
.abox img{display: block;}
.abox .sun{
    width: 200px;
    height: 150px;
    background-color: rgba(0, 0, 0,0);
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.5s;
}
.abox:hover .sun{
    background-color: rgba(0, 0, 0,0.5);
}



