*{margin: 0;padding: 0;}
ul{list-style: none;}
a{text-decoration: none;}

/* 핸드폰용 */

@media screen and (max-width:600px){
    

    #wrapper{
        width: 100%;

        
        
    }
    
    header{
        height: 120px;
        background: #f46075 url(../nav2.png) no-repeat 95% 50%;
        background-size: 120px;
    }
    
    header h1{
        display: inline-block;
        color: #fff;
        margin-top: 25px;
        margin-left: 20px;
        
    }
    
    nav{
        height: 100px;
        background-color: #aaa;
    }
    nav ul li{
        float: left;
        width: 50%;
        margin-top: 8px;
        
    }
    nav ul li a{
        display: block;
        margin: 0 auto;
        /* 디스플레이 블럭 으로 a를 블럭요소로 만들었기 때문에 마진 0 오토로 중앙정렬 가능 */
        width: 140px;
        height: 35px;
        line-height: 35px;
        color: #fff;
        font-weight: bold;
        text-align: center;
        
    }
    nav ul li a:hover{
        background-color: #f46075;
        border-radius: 18px;
    }
    section{
        float: left;
        width: 100%;
        height: auto;
        background-color: antiquewhite;
        padding: 10px 0;
    }
    section h2{
        text-align: center;
        margin: 10px 0;
    }
    section article{
        width:85%;
        height: auto;
        border: 1px solid #333;
        padding: 10px;
        background-color: #fff;
        margin: 0 auto;
    }
    section article h3{
        padding-bottom: 10px;
    }
    section article p{font-size: 12px;}
    
    aside{
        width: 100%;
        background-color: burlywood;
        text-align: center;
    }
    aside h2{margin-top: 10px;}
    aside img{
        margin-top: 10px;
    }
    footer{
        clear: both;
        height: 50px;
        line-height: 50px;
        text-align: center;
        background-color: #333;
        color: #fff;
    }
    }








    @media screen and (min-width:1024px){
    

        #wrapper{
            width: 800px;
            margin: 0 auto;
            
        }
        
        header{
            height: 205px;
            /* background-color: #f46075;
            background-image: url(../nav2.png);
            background-repeat: no-repeat;
            background-position: 95% 50%; */
            /* border-top: 1px solid transparent; */
            background: #f46075 url(../nav2.png) no-repeat 95% 50%;
        }
        
        header h1{
            display: inline-block;
            color: #fff;
            margin-top: 50px;
            margin-left: 50px;
            /* 마진병합현상 
                부모, 자식 둘 다 블럭요소 일 경우 발생
            */
            /* 자식인 h1에게 마진을 주면 부모인 헤더에 흡수되어 적용됨 */
            /* 
                해결방법
                1.header h1에 마진탑 대신 패딩탑 대체
                2.header h1에 float:left;
                3.부모의 자식을 구분할수 있는 border-top을 부모에게 준다
                header에 (border: 1px solid transparent;)    
            */
        }
        
        nav{
            height: 50px;
            background-color: #aaa;
        }
        nav ul li{
            float: left;
            margin-left: 40px;
            margin-top: 8px;
            
        }
        nav ul li a{
            display: block;
            /* a에 넓이와 높이를 부여하기 위함 */
            width: 140px;
            height: 35px;
            line-height: 35px;
            color: #fff;
            font-weight: bold;
            text-align: center;
            /* background-color: aqua; */
        }
        nav ul li a:hover{
            background-color: #f46075;
            border-radius: 18px;
        }
        section{
            float: left;
            width: 550px;
            height: 500px;
            background-color: antiquewhite;
        }
        section h2{
            text-align: center;
            margin: 10px 0;
        }
        section article{
            width:220px;
            height: 180px;
            border: 1px solid #333;
            float: left;
            padding: 10px;
            margin-left: 20px;
            margin-bottom: 15px;
            background-color: #fff;
        }
        section article h3{
            padding-bottom: 10px;
        }
        section article p{font-size: 12px;}
        
        aside{
            float: left;
            width: 250px;
            height: 500px;
            background-color: burlywood;
            text-align: center;
        }
        aside h2{margin-top: 10px;}
        aside img{
            margin-top: 10px;
        }
        footer{
            clear: both;
            height: 50px;
            line-height: 50px;
            text-align: center;
            background-color: #333;
            color: #fff;
        }
        }
        
        
        
        
        
        
        @media screen and (min-width:601px) and (max-width:1023px){
            
        
        #wrapper{
            width: 580px;
            margin: 0 auto;
        }
        
        header{
            height: 160px;
            background: #f46075 url(../nav2.png) no-repeat 95% 50%;
            background-size: 160px;
        }
        
        header h1{
            display: inline-block;
            color: #fff;
            margin-top: 50px;
            margin-left: 50px;
        }
        
        nav{
            height: 50px;
            background-color: #aaa;
        }
        nav ul li{
            float: left;
            margin-left: 15px;
            /* 왼쪽 마진 줄임 40 에서 15로 */
            margin-top: 8px;
        }
        nav ul li a{
            display: block;
            width: 120px;
            /* 넓이를 140에서 120으로 수정 */
            height: 35px;
            line-height: 35px;
            color: #fff;
            font-weight: bold;
            text-align: center;
        }
        nav ul li a:hover{
            background-color: #f46075;
            border-radius: 18px;
        }
        section{
            padding: 5px 0;
            width: 100%;/*580*/
            height: 500px;
            background-color: antiquewhite;
        }
        section h2{
            text-align: center;
            margin: 10px 0;
        }
        section article{
            width:220px;
            height: 180px;
            border: 1px solid #333;
            float: left;
            padding: 10px;
            margin-left: 30px;
            margin-bottom: 15px;
            background-color: #fff;
        }
        section article h3{
            padding-bottom: 10px;
        }
        section article p{font-size: 12px;}
        
        aside{
            padding: 5px 0 10px 0;
            width: 100%;
            background-color: burlywood;
            text-align: center;
        }
        aside h2{margin-top: 10px;}
        aside img{
            margin-top: 10px;
        }
        footer{
            clear: both;
            height: 50px;
            line-height: 50px;
            text-align: center;
            background-color: #333;
            color: #fff;
        }
        }






















@media screen and (min-width:1024px){
    

#wrapper{
    width: 800px;
    margin: 0 auto;
    
}

header{
    height: 205px;
    /* background-color: #f46075;
    background-image: url(../nav2.png);
    background-repeat: no-repeat;
    background-position: 95% 50%; */
    /* border-top: 1px solid transparent; */
    background: #f46075 url(../nav2.png) no-repeat 95% 50%;
}

header h1{
    display: inline-block;
    color: #fff;
    margin-top: 50px;
    margin-left: 50px;
    /* 마진병합현상 
        부모, 자식 둘 다 블럭요소 일 경우 발생
    */
    /* 자식인 h1에게 마진을 주면 부모인 헤더에 흡수되어 적용됨 */
    /* 
        해결방법
        1.header h1에 마진탑 대신 패딩탑 대체
        2.header h1에 float:left;
        3.부모의 자식을 구분할수 있는 border-top을 부모에게 준다
        header에 (border: 1px solid transparent;)    
    */
}

nav{
    height: 50px;
    background-color: #aaa;
}
nav ul li{
    float: left;
    margin-left: 40px;
    margin-top: 8px;
    
}
nav ul li a{
    display: block;
    /* a에 넓이와 높이를 부여하기 위함 */
    width: 140px;
    height: 35px;
    line-height: 35px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    /* background-color: aqua; */
}
nav ul li a:hover{
    background-color: #f46075;
    border-radius: 18px;
}
section{
    float: left;
    width: 550px;
    height: 500px;
    background-color: antiquewhite;
}
section h2{
    text-align: center;
    margin: 10px 0;
}
section article{
    width:220px;
    height: 180px;
    border: 1px solid #333;
    float: left;
    padding: 10px;
    margin-left: 20px;
    margin-bottom: 15px;
    background-color: #fff;
}
section article h3{
    padding-bottom: 10px;
}
section article p{font-size: 12px;}

aside{
    float: left;
    width: 250px;
    height: 500px;
    background-color: burlywood;
    text-align: center;
}
aside h2{margin-top: 10px;}
aside img{
    margin-top: 10px;
}
footer{
    clear: both;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: #333;
    color: #fff;
}
}






@media screen and (min-width:1024px){
    

#wrapper{
    width: 800px;
    margin: 0 auto;
    
}

header{
    height: 205px;
    /* background-color: #f46075;
    background-image: url(../nav2.png);
    background-repeat: no-repeat;
    background-position: 95% 50%; */
    /* border-top: 1px solid transparent; */
    background: #f46075 url(../nav2.png) no-repeat 95% 50%;
}

header h1{
    display: inline-block;
    color: #fff;
    margin-top: 50px;
    margin-left: 50px;
    /* 마진병합현상 
        부모, 자식 둘 다 블럭요소 일 경우 발생
    */
    /* 자식인 h1에게 마진을 주면 부모인 헤더에 흡수되어 적용됨 */
    /* 
        해결방법
        1.header h1에 마진탑 대신 패딩탑 대체
        2.header h1에 float:left;
        3.부모의 자식을 구분할수 있는 border-top을 부모에게 준다
        header에 (border: 1px solid transparent;)    
    */
}

nav{
    height: 50px;
    background-color: #aaa;
}
nav ul li{
    float: left;
    margin-left: 40px;
    margin-top: 8px;
    
}
nav ul li a{
    display: block;
    /* a에 넓이와 높이를 부여하기 위함 */
    width: 140px;
    height: 35px;
    line-height: 35px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    /* background-color: aqua; */
}
nav ul li a:hover{
    background-color: #f46075;
    border-radius: 18px;
}
section{
    float: left;
    width: 550px;
    height: 500px;
    background-color: antiquewhite;
}
section h2{
    text-align: center;
    margin: 10px 0;
}
section article{
    width:220px;
    height: 180px;
    border: 1px solid #333;
    float: left;
    padding: 10px;
    margin-left: 20px;
    margin-bottom: 15px;
    background-color: #fff;
}
section article h3{
    padding-bottom: 10px;
}
section article p{font-size: 12px;}

aside{
    float: left;
    width: 250px;
    height: 500px;
    background-color: burlywood;
    text-align: center;
}
aside h2{margin-top: 10px;}
aside img{
    margin-top: 10px;
}
footer{
    clear: both;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: #333;
    color: #fff;
}
}