*{margin: 0;padding: 0;}
ul{
    text-decoration: none;
}
li{list-style: none;}
a{text-decoration: none; color: #333;}

#container{
    width: 1740px;
    height: 1017px;
    /* background-color: chartreuse; */
    margin: 0 auto;
}

.title{
    position: relative;
    width: 100%;
    height: 76px;
    padding: 20px 0;
    /* background-color: aquamarine; */
}
.title h3{
    width: 260px;
    font-size: 50px;
}
.title a.more{
    width: 120px;
    position: absolute;
    border: 1px solid #ccc;
    border-radius: 30px;
    padding: 10px 0;
    text-align: center;
    top: 30px;
    right: 10px;
    
}
ul.box1{
    width: 100%;
    height: 30px;
    margin-top: 20px;
    /* border: 1px solid #333; */
}
.box1 li{
    float: left;
}
.box1 .box3{
    font-weight: bold;
    font-size: 24px;
}
.box1 .box2{
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #ccc;
    
    margin: 15px 20px;
    
}
.inner{
    width: 100%;
    border-top: 1px solid #ccc;
    margin-top: 30px;
}
.innerbox{
    width: 434px;
    height: 667px;
    padding-top: 30px;
    border-right: 1px solid #ccc;
    float: left;
    
}
.innerbox:nth-child(4){
    border: none;
}
.innerbox .imgbox{
    text-align: center;
    overflow: hidden;
    
}

.innerbox .imgbox{
    width: 392.73px;
    height: 392.73px;
    border-radius: 20px;
    margin: 0 auto;
}

.innerbox .imgbox a img{
    overflow: hidden;
    width: 392.73px;
    height: 392.73px;
    border-radius: 20px;
    text-align: center;
    transition: all 0.3s;
}
.innerbox .imgbox a img:hover{
    
    transform: scale(1.2);
    
}
.textbox{
    width: 434px;
    margin-left: 20px;
}

.textbox ul li{
    float: left;
    padding: 7.2px 16px;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 11.52px;
}
.textbox p{
    padding: 20px 0;
    line-height: 40px;
}
.textbox p span.orange{
    padding: 6px 7.2px;
    color: #fff;
    background-color: orange;
    font-size: 9.5px;
    border-radius: 20px;
}
.textbox p span.green{
    padding: 6px 7.2px;
    color: #fff;
    background-color: #0bab0d;
    font-size: 9.5px;
    border-radius: 20px;
}
.textbox p span.bold{
    font-weight: bold;
    font-size: 18.72px;
    
}
.textbox p span.gray{
    font-size: 12.96px;
}
.textbox ul.under{
    margin-top: 65px;
}
.under .under_1{
    margin-right: 20px;
}
.under li span.bar{
    padding: 0 5px;
    
}