*{margin: 0;padding: 0;}
/* 모든요소에 마진패딩 0 을 주고 시작 */
#container{
    width: 800px;
    margin: 0 auto;
    /* 전체넓이 800 중앙정렬 */
}
header{
    overflow: hidden;
    background-color: #f46075;
    padding: 10px 0;
    color: #fff;
}
header h1{
    float: left;
    margin-top: 40px;
    margin-left: 50px;
}
header img{
    float: right;
    margin-right: 20px;
    margin-top: 20px;
}
nav{
    height: 60px;
    background-color: #ccc;
}
nav ul{list-style: none;}
nav ul li{
    float: left;
    margin-left: 35px;
    margin-top: 10px;
}
nav ul li a{
    display: block;
    width: 150px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    /* 높이가 ex)40px 일때 라인하이를 같은 값을 주면 중앙정렬 */
    color: black;
    text-decoration: none;
}
nav ul li a:hover{
    background-color: #f46075;
    color: #fff;
    border-radius: 20px;
}
section{
    width: 550px;
    height: 550px;
    float: left;
    background-color:skyblue;
}
aside{
    width: 250px;
    height: 550px;
    float: right;
    background-color: #ffffcc;
    text-align: center;
}
section h2{
    text-align: center;
    padding: 10px 0;    
}
aside h2{text-align: center;}
.main{overflow: hidden;}
section article{
    border: 1px solid #333;
    float: left;
    width: 210px;
    height: 200px;
    background-color: #fff;
    padding: 10px;
    margin: 0 0 15px 30px;
}
section article p{
    font-size: 12px;
    
}
article h3{
    padding-left: 30px;
    margin-bottom: 10px;
    background: url(../img/bg.png) no-repeat ;
}
footer{
    
    height: 50px;
    line-height: 50px;
    background-color: #333;
    color: #fff;
    text-align: center;
}
