*{margin: 0;padding: 0; box-sizing: border-box;}
ul{list-style: none;}
a{text-decoration: none; }

#wrap{
    width: 1280px;
    height: 534px;
    margin: 200px auto;
    background-image: url(intro_bg.png);
}
.bigbox{
    width: 1200px;
    height: 100%;
     margin: 0px auto; 
    /* background-color: aqua; */
    
}
.bigimg{
    
    width: 128px;
    height: 100%;
    margin-top: 120px;
    float: left;
    
    
}
.text{
    float: left;
    width: 900px;
    height: auto;
    text-align: center;
}
.text span{
    color: rgb(3, 56, 100);
    font-weight: bold;
    font-size: 20px;
}
.text p{
    margin: 5px 0;
}
.text img{
    margin: 10px 0 20px 0;
}
.imgbox{
    width: 900px;
    height: 200px;
    float: left;
    margin-left: 100px;
    margin-top: 40px;
    overflow: hidden;
}
.imgbox li{
    height: 193px;
    float: left;
    margin: auto;
    text-align: center;
    margin-right: 25px;
}
.imgbox li p{
    font-weight: bold;
    font-size: 14px;
    margin-top: 20px;
    line-height: 1.5;
}
.imgbox img.img2{display: none;}

.imgbox a:hover img{
    display: none;
}

.imgbox a:hover .img2{
    display: block;
}
.imgbox a:hover p{
    margin-top: 20px;
}
